---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2> My Teaching Philosophy</h2>

I am committed to fostering an inclusive and engaging learning environment that emphasizes critical thinking, hands-on experience, and skills development. I believe students should be encouraged to push-themselves in a safe learning environment with opportunities to practice skills and concepts, get feedback, and improve. I approach students in a humble compassionate way that acknowledges the humanity of each of them. 

<hr>

<h2>Teaching Experience</h2>

{% for post in site.teaching reversed %}
  {% include archive-single.html type="teaching" %}
{% endfor %}

<hr>

<h2>Student Reviews and Testimonials</h2>

<p>I recieved an average score of 5.6/6 on the student learning evaluation surveys for my contribution to each course that I taught. </p>

<p><em>"Haley was super nice and gave a good explanation on everything! She helped me when I had issues outside of school and was very supportive."</em> - Student in Honors Biology Lab, Fall 2025</p>

<p><em>"Haley was a great lab TA! Very clear, concise, and helpful. I really enjoyed her teaching style."</em> - Student in Honors Biology Lab, Fall 2025</p>

<p></em>"Haley was an awesome instructor. She always turned my questions into helping me uncover my own answers. Gave great feedback on submissions and was always helpful if I was confused on an assignment." </em> - Student in Biology Lab, Winter 2024</p>

<p><em>"Haley made this a safe space and a place where you could take your time to understand topics."</em> - Student in Biology Lab, Fall 2023</p>

<p><em>"Haley was an excellent TA that never failed to create a comfortable setting for growth. I was excited to go to the lab and learn with an instructor that clearly cared about their students."</em> - Student in Biology Lab, Winter 2023</p>